<div class="grid-container">
    <h1 class="mat-h1">Dashboard</h1>

    <mat-tab-group>

        <mat-tab label="FARMER">


            <!-- <button (click)=viewFarmers()> Show All Farmmers</button> -->

            <div *ngIf="FarmersList!=null">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#id</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Location</th>
                            <th scope="col">Mobile</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let farmer of FarmersList">
                            <td>farmer.id</td>
                            <td>farmer.name</td>
                            <td>farmer.email</td>
                            <td>farmer.location</td>
                            <td>farmer.mobile</td>
                            <td>
                                <button (click)=viewFarmers()> Edit</button>
                                <button (click)=viewFarmers()> Update</button>
                            </td>
                        </tr>
                    </tbody>
                </table>


            </div>
        </mat-tab>
        <mat-tab label="DEALER">Dealer</mat-tab>
        <mat-tab label="CROP">CROP</mat-tab>
    </mat-tab-group>
</div>